# Coverage directories used by istanbul
coverage
.nyc_output

# TFS 2017 directory
$tf

# Dependency directory
node_modules

# logs
/logs/**/*.log.*
*.log

# config
config/*.json

# ignore this file for now, may add to source control in the future
package-lock.json