# Coverage directories used by istanbul
coverage
.nyc_output

# Dependency directory
node_modules

# logs directory
logs
*.log

# config
config

# ignore this file for now, may add to source control in the future
package-lock.json